# Virtual environments
venv/
env/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd


# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# image for criteria fix
Screenshot 2025-10-22 211153.png

# Ignore all data and derived artifacts
data/*.pkl
data/*.npy



#Ignore features and models
features/
models/glove_model.pkl
*.npy
*.pkl

# Keep TF-IDF vectorizer if desired
# (Optional: remove this line if you want to keep tfidf_vectorizer.pkl committed)
# models/tfidf_vectorizer.pkl

# OS / IDE / Notebook files
*.ipynb_checkpoints


# External datasets and embeddings
kaggle_data/
glove.6B/

